.env
venv/
Models\mlruns
__pycache__/
Dataset
Data Cleaning&EDA\cleaned_data.csv
Models\prophet_model_Accessories.joblib
Models\prophet_model_Laptop.joblib
Models\prophet_model_Smartphone.joblib
Models\prophet_model_Tablet.joblib
Models\rf_model_Accessories.joblib
Models\rf_model_Laptop.joblib
Models\rf_model_Smartphone.joblib
Models\rf_model_Tablet.joblib






