.env
venv/
Model/mlruns/
__pycache__/
Dataset
Data Cleaning&EDA\cleaned_data.csv
Model\arima_model.joblib
Model\prophet_model.joblib
Model\random_forest_model.joblib
Model\arima_model_Accessories.joblib
Model\arima_model_Laptop.joblib
Model\arima_model_Smartphone.joblib
Model\arima_model_Tablet.joblib
